body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: $primery;
  background-color: $light;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33;
  color: inherit;
}

.button {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: $white;
  background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
  box-shadow: 0 4px 4px rgba(203, 135, 52, 0.2);
  border-radius: 4px;
}