.benefits {
  background-color: $white;
  box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
  border-radius: 8px;
  padding: 56px 30px 50px 60px;

  &__title {
    line-height: 1.6;
    margin-bottom: 33px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    
    max-width: 260px;
    font-size: 15px;
    line-height: 2;
    padding-top: 83px;
    background-repeat: no-repeat;
    background-size: 62px 62px;
    background-position: top left;
  }

  &__sub-title {
    font-weight: 700;
  }

  &__text {
    font-weight: 300;
  }
}