.ceo-info {
  background-color: $white;
  padding-top: 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    max-width: 535px;
    width: 100%;
  }

  &__title {

    margin-bottom: 12px;
  }

  &__text {
    position: relative;
    height: 300px;
    overflow-y: auto;

    p {
      font-size: 15px;
      font-weight: 300;
      line-height: 1.7;
      margin-bottom: 15px;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: darkgrey;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $brown;
      border-radius: 5px;
      width: 30px;
    }
  }

  &__img {
    object-fit: contain;
  }
}

@media (max-width: 1150px) {
  .ceo-info {
    &__inner {
      display: block;
    }

    &__content {
      max-width: 100%;
      margin-bottom: 30px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__img {
      width: 100%;
      height: auto;
    }
  }
}
