.construction-info {

  &__title {
    width: 45%;
    margin-bottom: 58px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-gap: 58px 30px;
    margin-bottom: 55px;
    counter-reset: number;
  }

  &__item {
    position: relative;
    max-width: 570px;
    width: 100%;
    background-color: $white;
    box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
    border-radius: 8px;
    padding: 42px 39px 50px 46px;

    &::after {
      content: '0'counter(number)'';
      counter-increment: number;
      position: absolute;
      bottom: 35px;
      right: 22px;
      font-size: 140px;
      line-height: 0.2;
      color: $orange;
      font-weight: 800;
      opacity: 0.1;
    }
  }

  &__img-card {
    position: absolute;
  }

  &__img-card--1 {
    top: -47px;
    right: 24px;
  }

  &__img-card--2 {
    top: -77px;
    right: 10px;
  }

  &__img-card--3 {
    top: -25px;
    right: 10px;
  }

  &__img-card--4 {
    top: -45px;
    right: 37px;
  }

  &__title-card {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 15px;
    line-height: 2;
    font-weight: 300;
  }

  &__img {
    margin-bottom: 33px;
  }

  &__label {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__btn {
    padding: 26px 62px;
    margin-right: 44px;
  }
}

@media (max-width: 1200px) {
  .construction-info {
    &__title {
      width: 100%;
    }

    &__list {
      grid-template-columns: 1fr;
      grid-gap: 80px;
    }

    &__item {
      max-width: 100%;
    }

    &__img {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  .construction-info {
    &__btn {
      padding: 21px 31px;
    }
  }
}

@media (max-width: 576px) {
  .construction-info {
    padding-top: 60px;

    &__img-card {
      right: 50%;
    }

    &__img-card--1 {
      top: -60px;
      transform: translateX(50%) scale(0.8, 0.8);
    }

    &__img-card--2 {
      top: -96px;
      transform: translateX(50%) scale(0.75, 0.75);
    }

    &__img-card--3 {
      top: -50px;
      transform: translateX(50%) scale(0.89, 0.9);
    }

    &__img-card--4 {
      top: -75px;
      transform: translateX(50%) scale(0.8, 0.8);
    }

    &__item {
      padding: 85px 10px 34px;

      &::after {
        right: 50%;
        transform: translateX(50%);
      }
    }

    &__title-card {
      text-align: center;
      font-size: 24px;
      margin-bottom: 6px;
    }

    &__label {
      flex-direction: column;
      justify-content: center;
    }

    &__btn {
      margin: 0;
      margin-bottom: 20px;
    }
  }
}