@import 'benefits';

.hero {
  position: relative;
  z-index: 2;
  min-height: calc(100vh - 184px);

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }
  &__content {
    max-width: 551px;
    margin-top: 120px;
  }
  &__title {
    font-size: 38px;
    line-height: 1.3;
    font-weight: 800;
    margin-bottom: 8px;
  }

  &__text {
    font-size: 18px;
    line-height: 1.66;
    margin-bottom: 26px;
  }

  &__label {
    display: flex;
    align-items: center;
  }

  &__btn {
    padding: 26px 62px;
    margin-right: 44px;
  }

  &__img {
    object-fit: contain;
  }
}