<section class="about-company section">
  <div class="container">
    <h2 class="about-company__title title">
      О компании TokarMebel
    </h2>
    <div class="about-company__photo">
      <a class="about-company__quote-link fancybox" href="https://www.youtube.com/watch?v=axEYii0yjgg" data-fancybox>
        <span class="about-company__link-play">
          <svg class="about-company__link-icon" width="24" height="15">
            <use xlink:href="images/sprite.svg#icon-play"></use>
          </svg>
        </span>
        <span class="about-company__link-text">
          Посмотреть короткое видео о компании (2:42 мин)
        </span>
      </a>
      <blockquote class="about-company__quote">
        <h3 class="about-company__name-owner">
          Точилов Александр Николаевич
        </h3>
        <p class="about-company__quote-text">
          Цитата о компании, пару слов от самого лица компании. Цитата о компании, пару слов от самого лица компании.
        </p>
      </blockquote>
    </div>
    <ul class="about-company__list">
      <li class="about-company__item">
        <span class="about-company__top-card">
          <span class="about-company__card-number">21 </span> год
        </span>
        <p class="about-company__text-card">
          Работаем на рынке Украины с 1998 года
        </p>
      </li>
      <li class="about-company__item">
        <span class="about-company__top-card">
          <span class="about-company__card-number">300+</span>
        </span>
        <p class="about-company__text-card">
          Позиций различных строений
        </p>
      </li>
      <li class="about-company__item">
        <span class="about-company__top-card">
          до <span class="about-company__card-number">7%</span>
        </span>
        <p class="about-company__text-card">
          Влажность просушенного дерева, что соответствует нормативам ГОСТ
        </p>
      </li>
      <li class="about-company__item">
        <span class="about-company__top-card">
          в <span class="about-company__card-number">1,5</span> раза
        </span>
        <p class="about-company__text-card">
          Стоимость доставки ниже рыночной
        </p>
      </li>
    </ul>
    <div class="about-company__label">
      <a class="about-company__link button" href="#">
        Подробнее о компании
      </a>
    </div>
  </div>
</section>