<section class="ceo-info section">
  <div class="container">
    <div class="ceo-info__inner">
      <div class="ceo-info__content">
        <h2 class="ceo-info__title title">
          TokarCompany - Производственно-строительная компания
        </h2>
        <div class="ceo-info__text">
          <p>
            Производственно строительная компания TokarCompany – известный участник строительного рынка Украины, в нишах
            загородной и коммерческой недвижимости. Специализация фирмы – строительство садовых конструкций, а также
            объектов жилого и коммерческого назначения.
          </p>
          <p>
            TokarCompany – производитель садовых строений
            Производственно строительная компания ТокарКомпани основана братьями Виталием и Василием Токаром. Изначально
            на фирме изготавливалась мебель – столы, стулья и многое другое. Ассортимент постепенно расширялся, и со
            временем Компания Токар начала позиционировать себя как профессиональный производитель садовых строений.
            Это, в первую очередь, беседки, садовые конструкции, малые архитектурные формы, а также модульные, дачные
            домики, бани, сауны, коммерческие зоны барбекю и тому подобное.
            Компания Tokar за десятки лет активной деятельности нарастила богатый производственный опыт и внушительную
            базу клиентов. Территориально TokarCo находится в Закарпатской области, г. Тячев. Заказы выполняются по всей
            Украине.
          </p>
          <p>
            TokarCompany – производитель садовых строений
            Производственно строительная компания ТокарКомпани основана братьями Виталием и Василием Токаром. Изначально
            на фирме изготавливалась мебель – столы, стулья и многое другое. Ассортимент постепенно расширялся, и со
            временем Компания Токар начала позиционировать себя как профессиональный производитель садовых строений.
            Это, в первую очередь, беседки, садовые конструкции, малые архитектурные формы, а также модульные, дачные
            домики, бани, сауны, коммерческие зоны барбекю и тому подобное.
            Компания Tokar за десятки лет активной деятельности нарастила богатый производственный опыт и внушительную
            базу клиентов. Территориально TokarCo находится в Закарпатской области, г. Тячев. Заказы выполняются по всей
            Украине.
          </p>
        </div>
      </div>
      <picture>
        <source srcset="images/webp/ceo-img.webp">
        <img loading="lazy" class="ceo-info__img" src="./images/ceo-img.jpg" width="570" height="470"
          alt="Фотография дома из бруса">
      </picture>
    </div>
  </div>
</section>