<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <nav class="footer__left">
        <ul class="footer__menu-top menu">
          <li class="footer__menu-top-item menu__item">
            <a class="footer__menu-top-link menu__link" href="#">Жилое</a>
          </li>
          <li class="footer__menu-top-item menu__item">
            <a class="footer__menu-top-link menu__link" href="#">Коммерческое</a>
          </li>
          <li class="footer__menu-top-item menu__item">
            <a class="footer__menu-top-link menu__link" href="#">Садовое</a>
          </li>
        </ul>
        <ul class="footer__menu-bottom">
          <li class="footer__menu-bottom-item">
            <button class="footer__menu-bottom-btn" type="button">Жилое</button>
            <ul class="footer__tab-menu">
              <li class="footer__tab-menu-item">
                <a class="footer__tab-link" href="#">Дома из профилированого бруса</a>
              </li>
              <li class="footer__tab-menu-item">
                <a class="footer__tab-link" href="#">Дома из оцилиндрованого бруса</a>
              </li>
              <li class="footer__tab-menu-item">
                <a class="footer__tab-link" href="#">Каркасные дома</a>
              </li>
              <li class="footer__tab-menu-item">
                <a class="footer__tab-link" href="#">Дома из блока</a>
              </li>
            </ul>
          </li>
          <li class="footer__menu-bottom-item">
            <button class="footer__menu-bottom-btn" type="button">Коммерческое</button>
            <ul class="footer__tab-menu">
              <li class="footer__tab-menu-item">
                <a class="footer__tab-link" href="#">Базы отдыха</a>
              </li>
              <li class="footer__tab-menu-item">
                <a class="footer__tab-link" href="#">Гостинницы</a>
              </li>
              <li class="footer__tab-menu-item">
                <a class="footer__tab-link" href="#">Рестораны</a>
              </li>
              <li class="footer__tab-menu-item">
                <a class="footer__tab-link" href="#">Кафе</a>
              </li>
              <li class="footer__tab-menu-item">
                <a class="footer__tab-link" href="#">Магазины</a>
              </li>
            </ul>
          </li>
          <li class="footer__menu-bottom-item">
            <button class="footer__menu-bottom-btn" type="button">Садовое</button>
            <ul class="footer__tab-menu">
              <li class="footer__tab-menu-item">
                <a class="footer__tab-link" href="#">Деревянные бани</a>
              </li>
              <li class="footer__tab-menu-item">
                <a class="footer__tab-link" href="#">Беседки</a>
              </li>
              <li class="footer__tab-menu-item">
                <a class="footer__tab-link" href="#">Альтанки</a>
              </li>
              <li class="footer__tab-menu-item">
                <a class="footer__tab-link" href="#">Детские игровые площадки</a>
              </li>
              <li class="footer__tab-menu-item">
                <a class="footer__tab-link" href="#">Гаражи</a>
              </li>
              <li class="footer__tab-menu-item">
                <a class="footer__tab-link" href="#">Деревянные детские домики</a>
              </li>
              <li class="footer__tab-menu-item">
                <a class="footer__tab-link" href="#">Мангальные зоны и барбекю</a>
              </li>
              <li class="footer__tab-menu-item">
                <a class="footer__tab-link" href="#">Кухни</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>

      <div class="footer__right">
        <nav class="footer__right-nav">
          <ul class="footer__right-menu">
            <li class="footer__right-menu-item">
              <a class="footer__right-menu-link" href="#">О компании</a>
            </li>
            <li class="footer__right-menu-item">
              <a class="footer__right-menu-link" href="#">Наши работы</a>
            </li>
          </ul>
          <button class="footer__right-btn button" type="button">Заказать звонок</button>
        </nav>

        <a class="footer__logo logo" href="#">
          <img class="footer__logo-img logo__img" src="./images/icons/icon-logo.svg" width="238" height="32"  alt="">
          <span class="logo__text">
            TokarCompany - производственно -строительная компания
          </span>
        </a>

        <div class="footer__contacts contacts">
          <div class="footer__messenger contacts__messenger">
            <p class="footer__messenger-text contacts__messenger-text">
              Связаться напрямую:
            </p>
            <a class="contacts__messenger-item contacts__messenger-item--telegram"
            style="background-image: url('images/icons/icon-telegram.svg');" href="#"></a>
          <a class="contacts__messenger-item contacts__messenger-item--whatsapp"
            style="background-image: url('images/icons/icon-whatsapp.svg');" href="#"></a>
          <a class="contacts__messenger-item contacts__messenger-item--viber"
            style="background-image: url('images/icons/icon-viber.svg');" href="#"></a>
          </div>

          <div class="footer__contacts-info contacts__info">
            <a class="contacts__info-link" href="tel:+380671755630">
              +3 80 (67) 175 56 30
            </a>
            <p class="contacts__info-text">
              с
              <time class="contacts__info-time">09:00</time>
              до
              <time class="contacts__info-time">18:00</time>
              (пн-вс)
            </p>
          </div>
          <div class="footer__call contacts__call">
            <button class=" button" type="button">Заказать звонок</button>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="footer__copy">
    © 2020. Все права защищены. TokarCompany - Производственно-строительная компания. Информация, представленная на
    сайте, не является публичной офертой.
  </div>
</footer>