<header class="header">
  <div class="container">
    <div class="header__top">
      <a class="logo" href="#">
        <img class="logo__img" src="./images/icons/icon-logo.svg" alt="">
        <span class="logo__text">
          TokarCompany - производственно -строительная компания
        </span>
      </a>
      <div class="contacts">
        <div class="contacts__messenger">
          <p class="contacts__messenger-text">
            Связаться напрямую:
          </p>
          <a class="contacts__messenger-item contacts__messenger-item--telegram" href="#">
            <img class="contacts__messenger-icon" src="./images/icons/icon-telegram.svg" width="12" height="12"
              alt="Іконка Telegram">
          </a>
          <a class="contacts__messenger-item contacts__messenger-item--whatsapp" href="#">
            <img class="contacts__messenger-icon" src="images/icons/icon-whatsapp.svg" width="12" height="12"
              alt="Іконка Whatsapp">
          </a>
          <a class="contacts__messenger-item contacts__messenger-item--viber" href="#">
            <img class="contacts__messenger-icon" src="images/icons/icon-viber.svg" width="12" height="12"
              alt="Іконка Viber">
          </a>
        </div>

        <div class="contacts__info">
          <a class="contacts__info-link" href="tel:+380671755630">
            +3 80 (67) 175 56 30
          </a>
          <p class="contacts__info-text">
            с
            <time class="contacts__info-time">09:00</time>
            до
            <time class="contacts__info-time">18:00</time>
            (пн-вс)
          </p>
        </div>
        <div class="contacts__call">
          <button class="contacts__call-btn button" type="button">Заказать звонок</button>
          <p class="contacts__call-text">Бесплатно по Украине</p>
        </div>
      </div>
      <div class="header__lang">
        <img class="header__lang-icon" src="images/flag-ru.jpg" width="21" height="15" alt="Флаг России">
      </div>
    </div>
    <nav class="header__bottom">
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link" href="#">Жилое</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">Коммерческое</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">Садовое</a>
        </li>
      </ul>
      <ul class="header__menu">
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">О компании</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">Наши работы</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</header>