<section class="hero">
  <div class="container">
    <div class="hero__inner" style="background-image: url('images/hero-img.png');">
      <div class="hero__content">
        <p class="hero__description">
          TokarCompany - производственно -строительная компания
        </p>
        <h1 class="hero__title">
          Производим и устанавливаем строения разных видов в Украине
        </h1>
        <img class="hero__content-img" src="images/hero-img.png" alt="hero-bg">
        <p class="hero__text">
          Индивидуально под ваш запрос построим дом, ресторан, баню, беседку, мангал или любую другую постройку
        </p>
        <div class="hero__label">
          <a class="hero__btn button" href="#">
            Перейти в каталог домов
          </a>
          <a class="hero__link link-decoration" href="#">
            <span class="link-decoration__circel">
              <svg class="link-decoration__icon" width="5" height="10">
                <use xlink:href="./images/sprite.svg#arrow-right"></use>
              </svg>
            </span>
            Каталог бань
          </a>
        </div>
      </div>
    </div>
    
    <div class="benefits">
      <h2 class="benefits__title title">
        Почему выбирают нас:
      </h2>
      <ul class="benefits__list">
        <li class="benefits__item" style=" background-image: url('../images/icons/icon-design.svg');">
          <h3 class="benefits__sub-title">Эксклюзивный дизайн</h3>
          <p class="benefits__text">Не имеющий аналогов в Украине</p>
        </li>
        <li class="benefits__item" style=" background-image: url('../images/icons/icon-development.svg');">
          <h3 class="benefits__sub-title">Разработка модели</h3>
          <p class="benefits__text"> Индивидуальной с помощью 3D-визуализации в нашем приложении</p>
        </li>
        <li class="benefits__item" style=" background-image: url('../images/icons/icon-certificate.svg');">
          <h3 class="benefits__sub-title">Сертификаты качества </h3>
          <p class="benefits__text">Подтверждают наши материалы и комплектующие</p>
        </li>
        <li class="benefits__item" style=" background-image: url('../images/icons/icon-frendly.svg');">
          <h3 class="benefits__sub-title">Работа под ключ</h3>
          <p class="benefits__text">В среднем за Х дней от установки фундамента до сдачи объекта в эксплуатацию</p>
        </li>
      </ul>
    </div>

  </div>
</section>