<section class="new section">
  <div class="container">
    <div class="new__label">
      <h2 class="new__title title">
        Последние статьи
      </h2>
      <div class="new__navigation new__navigation-hide">
        <button class="new__slider-arrow new__slider-arrow--prevv ">
          <svg class="new__arrow-icon" width="17" height="10">
            <use xlink:href="images/sprite.svg#icon-swiperArrow"></use>
          </svg>
        </button>
        <div class="slider-fraction new__navigation-top"></div>
        <button class="new__slider-arrow new__slider-arrow--nextt">
          <svg class="new__arrow-icon new__arrow-icon--next" width="17" height="10">
            <use xlink:href="images/sprite.svg#icon-swiperArrow"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="new__container swiper">

      <div class="new__wrapper swiper-wrapper">

        <div class="new__slide swiper-slide">
          <article class="new-card">
            <span class="new-card__badges">Архитектура</span>
            <a class="new-card__link" href="#">
              <picture>
                <source srcset="images/webp/new-img-1.webp">
                <img loading="lazy" class="new-card__img" src="images/new-img-1.png" width="370" height="260"
                  alt="Фото готовый загородный дом">
              </picture>
            </a>
            <h3 class="new-card__title">
              <a class="new-card__title-link" href="#">
                Готовый загородный дом или самостоятельное строительство?
              </a>
            </h3>
            <p class="new-card__text">
              Купить или построить дом с нуля – неизбежный вопрос, когда возникает желание приобрести частную
              недвижимость за городом.
            </p>
          </article>
        </div>

        <div class="new__slide swiper-slide">
          <article class="new-card">
            <span class="new-card__badges">Архитектура</span>
            <a class="new-card__link" href="#">
              <picture>
                <source srcset="images/webp/new-img-2.webp">
                <img loading="lazy" class="new-card__img" src="images/new-img-2.png" width="370" height="260"
                  alt="Фото готовый загородный дом">
              </picture>
            </a>
            <h3 class="new-card__title">
              <a class="new-card__title-link" href="#">
                Авторские проекты домов – почему эксклюзив выгоднее
              </a>
            </h3>
            <p class="new-card__text">
              Владельцу предстоит решить вопрос: купить готовый типовой вариант или заказать индивидуальный.
            </p>
          </article>
        </div>

        <div class="new__slide swiper-slide">
          <article class="new-card">
            <span class="new-card__badges">Архитектура</span>
            <a class="new-card__link" href="#">
              <picture>
                <source srcset="images/webp/new-img-3.webp">
                <img loading="lazy" class="new-card__img" src="images/new-img-3.png" width="370" height="260"
                  alt="Фото готовый загородный дом">
              </picture>
            </a>
            <h3 class="new-card__title">
              <a class="new-card__title-link" href="#">
                Красивые дома: 100+ фото лучших проектов
              </a>
            </h3>
            <p class="new-card__text">
              Современная малоэтажная застройка в России представлена как типовыми архитектурными решениями,
              популярными.
            </p>
          </article>
        </div>

        <div class="new__slide swiper-slide">
          <article class="new-card">
            <span class="new-card__badges">Архитектура</span>
            <a class="new-card__link" href="#">
              <picture>
                <source srcset="images/webp/new-img-1.webp">
                <img loading="lazy" class="new-card__img" src="images/new-img-1.png" width="370" height="260"
                  alt="Фото готовый загородный дом">
              </picture>
            </a>
            <h3 class="new-card__title">
              <a class="new-card__title-link" href="#">
                Готовый загородный дом или самостоятельное строительство?
              </a>
            </h3>
            <p class="new-card__text">
              Купить или построить дом с нуля – неизбежный вопрос, когда возникает желание приобрести частную
              недвижимость за городом.
            </p>
          </article>
        </div>

        <div class="new__slide swiper-slide">
          <article class="new-card">
            <span class="new-card__badges">Архитектура</span>
            <a class="new-card__link" href="#">
              <picture>
                <source srcset="images/webp/new-img-3.webp">
                <img loading="lazy" class="new-card__img" src="images/new-img-3.png" width="370" height="260"
                  alt="Фото готовый загородный дом">
              </picture>
            </a>
            <h3 class="new-card__title">
              <a class="new-card__title-link" href="#">
                Красивые дома: 100+ фото лучших проектов
              </a>
            </h3>
            <p class="new-card__text">
              Современная малоэтажная застройка в России представлена как типовыми архитектурными решениями,
              популярными.
            </p>
          </article>
        </div>

      </div>

      <div class="new__navigation-show">
        <div class="new__navigation">
          <button class="new__slider-arrow new__slider-arrow--prev ">
            <svg class="new__arrow-icon" width="17" height="10">
              <use xlink:href="images/sprite.svg#icon-swiperArrow"></use>
            </svg>
          </button>
          <div class="slider-fraction new__navigation-bottom"></div>
          <button class="new__slider-arrow new__slider-arrow--next">
            <svg class="new__arrow-icon new__arrow-icon--next" width="17" height="10">
              <use xlink:href="images/sprite.svg#icon-swiperArrow"></use>
            </svg>
          </button>
        </div>
      </div>

    </div>

  </div>
</section>