<section class="types-build section">
  <div class="container">
    <h2 class="types-build__title title">
      Мы разделяем 3 вида строений
    </h2>
    <ul class="types-build__list">
      <li class="types-build__item">
        <article class="card-types-build">
          <picture>
            <source srcset="images/webp/card-types-build-1.webp">
            <img loading="lazy" class="card-types-build__img" width="360" height="280"
              src="./images/card-types-build-1.png" alt="Фотография дома из профилированого бруса">
          </picture>
          <div class="card-types-build__body">
            <h3 class="card-types-build__title">
              Жилые строения
            </h3>
            <ul class="card-types-build__list">
              <li class="card-types-build__item">
                <a class="card-types-build__link" href="#">Дома из профилированого бруса</a>
              </li>
              <li class="card-types-build__item">
                <a class="card-types-build__link" href="#">Дома из оцилиндрованого бруса</a>
              </li>
              <li class="card-types-build__item">
                <a class="card-types-build__link" href="#">Каркасные дома</a>
              </li>
              <li class="card-types-build__item">
                <a class="card-types-build__link" href="#">Дома из блока</a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="types-build__item">
        <article class="card-types-build">
          <picture>
            <source srcset="images/webp/card-types-build-2.webp">
            <img loading="lazy" class="card-types-build__img" width="360" height="280"
              src="./images/card-types-build-2.png" alt="Фотография коммерческово здания">
          </picture>
          <div class="card-types-build__body">
            <h3 class="card-types-build__title">
              Коммерческие
            </h3>
            <ul class="card-types-build__list">
              <li class="card-types-build__item">
                <a class="card-types-build__link" href="#">Базы отдыха</a>
              </li>
              <li class="card-types-build__item">
                <a class="card-types-build__link" href="#">Гостинницы</a>
              </li>
              <li class="card-types-build__item">
                <a class="card-types-build__link" href="#">Рестораны</a>
              </li>
              <li class="card-types-build__item">
                <a class="card-types-build__link" href="#">Кафе</a>
              </li>
              <li class="card-types-build__item">
                <a class="card-types-build__link" href="#">Магазины</a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="types-build__item">
        <article class="card-types-build">
          <picture>
            <source srcset="images/webp/card-types-build-3.webp">
            <img loading="lazy" class="card-types-build__img" width="360" height="280"
              src="./images/card-types-build-3.png" alt="Фотография деревяной бани">
          </picture>
          <div class="card-types-build__body">
            <h3 class="card-types-build__title">
              Садовые и хоз
            </h3>
            <ul class="card-types-build__list">
              <li class="card-types-build__item">
                <a class="card-types-build__link" href="#">Деревянные бани</a>
              </li>
              <li class="card-types-build__item">
                <a class="card-types-build__link" href="#">Беседки</a>
              </li>
              <li class="card-types-build__item">
                <a class="card-types-build__link" href="#">Альтанки</a>
              </li>
              <li class="card-types-build__item">
                <a class="card-types-build__link" href="#">Детские игровые площадки</a>
              </li>
              <li class="card-types-build__item">
                <a class="card-types-build__link" href="#">Гаражи</a>
              </li>
              <li class="card-types-build__item">
                <a class="card-types-build__link" href="#">Деревянные детские домики</a>
              </li>
              <li class="card-types-build__item">
                <a class="card-types-build__link" href="#">Мангальные зоны и барбекю</a>
              </li>
              <li class="card-types-build__item">
                <a class="card-types-build__link" href="#">Кухни</a>
              </li>
            </ul>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>